body {
  padding : 0.5em;
  width : 90%;
  margin : 0 auto;
  background-image : url("http://www.malaysia-somalia.com/img/somalia.jpg");
  background-size : contain;
  background-position : center;
  background-repeat : no-repeat;
  background-attachment : fixed;
  background-size : cover;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:#D9ACFC;
    color: white;
}

p{
  color: white;
 font-size: 30px;
  
}
h4{
  color: white;
 font-size: 20px;
  
}


a{
  font-family: 'JelleeRoman'; 
  font-weight: normal; 
  font-style: normal; 
  text-align:center;
  font-size: 90px;
  color: white;
 
}

h1{
  font-family: 'AlexBrushRegular'; 
  font-weight: normal; 
  font-style: normal; 
  text-align:center;
  font-size: 80px;
  color: white;
  text-shadow: 5px 2px #676767;
}

h2{
    font-family: 'JelleeRoman'; 
  font-weight: normal; 
  font-style: normal; 
  text-align:center;
  font-size: 80px;
  color: white;  
}
      h2{
       	background-color: black;
	padding: 1px 50px;
        opacity: 0.7;
        position: relative;
        top: 100px;
        text-align:center  }
  h3{
       	background-color: black;
	padding: 1px 50px;
        opacity: 0.7;
        text-align:center;
   
      }


#nav{
background-color: white;
padding: 1px 5x;
opacity: 0.5;
   
